<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">Advance Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="household_advance_search_form"> 

      </div> 
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" id="advance_search" data-dismiss="modal" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  window.onload = function() {
   if (window.jQuery) {
         $.ajax({                       // initialize an AJAX request
          url: "{% url 'household_search_form'%}",
          headers: {'X-CSRFToken': '{{ csrf_token }}'},
            success: function (data) {   // `ModelForm` is the return
                $("#household_advance_search_form").html(data);  // replace the contents of the div element in modal body, it is hidden first
            }
        });
   }
  }
</script>