{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load admin_menu %}
{% load leaflet_tags %}

{% block extrastyle %}
{{ block.super }}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" /> -->
{% leaflet_js %}
{% leaflet_css %}
<style type="text/css">
    #map {width: 100%;height: 750px;}
</style>
<link rel="stylsheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.css'%}">
<script type="text/javascript" src="{% static 'leaflet_dist/leaflet.ajax.js'%}"></script>
<script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.js'%}"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% if not is_popup %}
{% block breadcrumbs %}
<div class="row mb-2">
    <div class="col-sm-4">
        <!-- <h2>{{title}}</h2>  -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchModal">
            Advance Search
          </button>
    </div>
    <div class="col-sm-8">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'admin:index' %}"><i class="fas fa-tachometer-alt"></i> {% trans 'Home' %}</a></li>
            {% for app in app_list %}
            <li class="breadcrumb-item active">{{ app.name }}</li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
{% endif %}

{% block content %}

<!-- INCLUDE -->
{% include 'admin/advance_search.html' %}

<script type="text/javascript">
    window.addEventListener("map:init", function (e) {
        var detail = e.detail;
        var households = new L.GeoJSON.AJAX("{% url 'household'%}",{
            pointToLayer: function(feature, latlng) {
                var greenIcon = L.icon({
                    iconUrl: '{% static "image/icons8-green-circle-48.png"%}',

                    iconSize:[16, 16],
                    iconAnchor:[-3,9], // point of the icon which will correspond to marker's location
                    popupAnchor:[0,0],
                    tooltipAnchor:[0,0]
                });
                return L.marker(latlng, {icon: greenIcon});
            },
            onEachFeature: function(feature,layer){
                var url_mask = "{% url 'admin:household_households_change' object_id='12345' %}".replace(/12345/, feature.properties.pk.toString());
                layer.bindPopup('<h5>'+feature.properties.respondent.toString()+'<h5>'+  
                                '<a href="'+url_mask+'">View household information</a>');              
            }
        });

        
        var household_data = L.layerGroup([households]);
              
        var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        }).addTo(detail.map);

        var OSM =  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 18,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    });

        var CartoDB_Voyager = L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
            subdomains: 'abcd',
            maxZoom: 20
        });

                      
        household_data.addTo(detail.map);


        households.on('data:loaded', function() {
            detail.map.fitBounds(households.getBounds());
        });

        var baseMaps = {
            "Esri WorldImagery": Esri_WorldImagery,
            "CartoDB Voyager":CartoDB_Voyager,
            "Open StreetMap":OSM,
        };

        var overlayMaps = {
            "Households": household_data,
            //"Evacuation Center": evacuation_center
        };

        // temporary solution for hiding layers control generate in global setting found in LEAFLET_CONFIG item
        //$('.leaflet-control').hide();

        var layerControl = L.control.layers(baseMaps,overlayMaps).addTo(detail.map);

        $( "#advance_search" ).click(function() {          
            /* Get from elements values */
            var values = $('#advance_search_form').serialize();

            $.ajax({
                type: "get",
                url: "{% url 'household'%}",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: values ,
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                        //Clear old layer
                        household_data.clearLayers();

                       //Load The GeoJSON layer using Leaflet GeoJSON method 
                        var households = new L.GeoJSON(response,{
                            pointToLayer: function(feature, latlng) {
                                var greenIcon = L.icon({
                                    iconUrl: '{% static "image/icons8-green-circle-48.png"%}',

                                    iconSize:     [16, 16],
                                    iconAnchor:   [-3,9], // point of the icon which will correspond to marker's location
                                    popupAnchor: [0,0],
                                    tooltipAnchor: [0,0]
                                });
                                return L.marker(latlng, {icon: greenIcon});
                            },
                            onEachFeature: function(feature,layer){
                                var url_mask = "{% url 'admin:household_households_change' object_id='12345' %}".replace(/12345/, feature.properties.pk.toString());
                                layer.bindPopup('<h5>'+feature.properties.respondent.toString()+'<h5>'+                        
                                                '<a href="'+url_mask+'">View household information</a>');
                            }
                        });
                        //fit Bounds
                        detail.map.fitBounds(households.getBounds());   
       
                        // update layer group with the new point Layer
                        household_data.addLayer(households);

                },
            });

            
        });     
    
    }, false);
</script>
{% leaflet_map "map" %}
{% endblock %}