{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load admin_menu %}
{% load leaflet_tags %}

{% block extrastyle %}
{{ block.super }}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" /> -->
{% leaflet_js %}
{% leaflet_css %}
<style type="text/css">
    #map {width: 100%;height: 750px;}
    .leaflet-popup-content {width: 560px! important;}
</style>
<link rel="stylsheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.css'%}">
<script type="text/javascript" src="{% static 'leaflet_dist/leaflet.ajax.js'%}"></script>
<script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.js'%}"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% if not is_popup %}
{% block breadcrumbs %}
<div class="row mb-2">
    <div class="col-sm-4">
        <!-- <h2>{{title}}</h2>  -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchModal">
            Advance Search
          </button>
    </div>
    <div class="col-sm-8">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'admin:index' %}"><i class="fas fa-tachometer-alt"></i> {% trans 'Home' %}</a></li>
            {% for app in app_list %}
            <li class="breadcrumb-item active">{{ app.name }}</li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
{% endif %}

{% block content %}

<!-- INCLUDE -->
{% include 'admin/advance_search.html' %}

<script type="text/javascript">
    window.addEventListener("map:init", function (e) {

        var detail = e.detail;
        var households = new L.GeoJSON.AJAX("{% url 'household'%}",{
            pointToLayer: function(feature, latlng) {
                var greenIcon = L.icon({
                    iconUrl: '{% static "image/icons8-green-circle-48.png"%}',

                    iconSize:[16, 16],
                    iconAnchor:[-3,9], // point of the icon which will correspond to marker's location
                    popupAnchor:[0,0],
                    tooltipAnchor:[0,0]
                });
                return L.marker(latlng, {icon: greenIcon});
            },
            onEachFeature: function(feature,layer){
                // var url_mask = "{% url 'admin:household_households_change' object_id='12345' %}".replace(/12345/, feature.properties.pk.toString());
                // layer.bindPopup('<h5>'+feature.properties.respondent.toString()+'<h5>'+  
                //                 '<a href="'+url_mask+'">View household information</a>');        
                households.on({
                    click:whenClicked
                });
                // layer.bindPopup('<div class="p-1">'+
                //                     '<div class="card card-primary card-outline card-outline-tabs">'+
                //                         '<div class="card-header p-0 border-bottom-0">'+
                //                             '<ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">'+
                //                                 '<li class="nav-item">'+
                //                                 '<a class="nav-link active" id="custom-tabs-four-household-information-tab" data-toggle="pill" href="#custom-tabs-four-household-information" role="tab" aria-controls="custom-tabs-four-household-information" aria-selected="true">Household information</a>'+
                //                                 '</li>'+
                //                                 '<li class="nav-item">'+
                //                                 '<a class="nav-link" id="custom-tabs-four-demography-tab" data-toggle="pill" href="#custom-tabs-four-demography" role="tab" aria-controls="custom-tabs-four-demography" aria-selected="false">Demography</a>'+
                //                                 '</li>'+
                //                                 '<li class="nav-item">'+
                //                                 '<a class="nav-link" id="custom-tabs-four-availed-programs-tab" data-toggle="pill" href="#custom-tabs-four-availed-programs" role="tab" aria-controls="custom-tabs-four-availed-programs" aria-selected="false">Availed programs</a>'+
                //                                 '</li>'+
                //                                 '<li class="nav-item">'+
                //                                 '<a class="nav-link" id="custom-tabs-four-livelihood-tab" data-toggle="pill" href="#custom-tabs-four-livelihood" role="tab" aria-controls="custom-tabs-four-livelihood" aria-selected="false">Livelihood</a>'+
                //                                 '</li>'+
                //                             '</ul>'+
                //                         '</div>'+
                //                     '</div>'+
                //                     '<div class="card-body">'+
                //                     '<div class="tab-content" id="custom-tabs-four-tabContent">'+
                //                         '<div class="tab-pane fade show active" id="custom-tabs-four-household-information" role="tabpanel" aria-labelledby="custom-tabs-four-household-information-tab">'+
                //                             '<!-- Household Information -->'+
                //                             '<table class="table table-borderless table-sm">'+
                //                             '<tbody>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Household ID</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.pk+'<a href="'+url_mask+'"> : Click here for mor info.</a></span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">RESPONDENT</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.respondent+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Municipality</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.municipality+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Barangay</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.barangay+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Purok</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.purok+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Type of building</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.householdbuildingtypes+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Tenural status</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.householdtenuralstatus+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Roof material</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.householdroofmaterials+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Wall material</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.householdwallmaterials+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Water tenural status</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.householdwatertenuralstatus+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Level of water system</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.waterlevelsystems+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Nearest evacuation center</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.evacuationareas+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Building/House construct</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.year_construct+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Estimated cost</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.estimated_cost+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Number of bedrooms</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.number_bedrooms+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Number of storey</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.number_storey+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Access to electricity</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+`${feature.properties.access_electricity ? 'Yes' : 'No'}`+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Access to internet</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+`${feature.properties.access_internet ? 'Yes' : 'No'}`+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Medical treatment</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+`${feature.properties.medical_treatment == null ? 'Nothing' : `${feature.properties.medical_treatment}`}`+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Access to water supply</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+`${feature.properties.access_water_supply ? 'Yes' : 'No'}`+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Water safe to drink</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+`${feature.properties.potable ? 'Yes' : 'No'}`+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Flood occur in the area</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+`${feature.properties.floods_occur ? 'Yes' : 'No'}`+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Year flooded</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.year_flooded+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Experience evacuation during calamity</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+`${feature.properties.experience_evacuate ? 'Yes' : 'No'}`+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Year evacuated</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.year_evacuate+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Access to health and medical facility</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+`${feature.properties.access_health_medical_facility ? 'Yes' : 'No'}`+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Access to telecommunication</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+`${feature.properties.access_telecommuniciation ? 'Yes' : 'No'}`+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Access to drill and simulation</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+`${feature.properties.access_drill_simulation ? 'Yes' : 'No'}`+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Enumerator</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.enumerator+'</span></td>'+                                            
                //                                 '</tr>'+
                //                                 '<tr>'+                                         
                //                                     '<td style="width: 25%"><span class="font-weight-bold">Editor</span></td>'+
                //                                     '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                //                                     '<td><span>'+feature.properties.editor+'</span></td>'+                                            
                //                                 '</tr>'+
                //                             '</tbody>'+
                //                             '</table>'+                          
                //                         '</div>'+ 
                //                         '<div class="tab-pane fade" id="custom-tabs-four-demography" role="tabpanel" aria-labelledby="custom-tabs-four-demography-tab">'+
                //                             '<!-- Foldable list of demography component -->  '+    
                                                        
                //                         '</div>'+
                //                         '<div class="tab-pane fade" id="custom-tabs-four-availed-programs" role="tabpanel" aria-labelledby="custom-tabs-four-availed-programs-tab">'+
                //                             '<!-- Foldable list of availed programs -->'+
                                        
                //                         '</div>'+
                //                         '<div class="tab-pane fade" id="custom-tabs-four-livelihood" role="tabpanel" aria-labelledby="custom-tabs-four-livelihood-tab">'+
                                                                             
                //                         '</div>'+
                //                     '</div>'+
                //                     '</div>'+
                //                 '</div>',{
                //                     maxWidth: 560,
                //                     maxHeight: 460,

                //                 }); 
            }
        });

        function whenClicked(e) {
            // e = event
            // console.log(e.layer.feature.properties.latitude);
            // You can make your ajax call declaration here
            //$.ajax(...
            
            $.ajax({
                type: "get",
                url: "{% url 'householdinfo'%}",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: {'pk': e.layer.feature.properties.pk} ,
                contentType: 'application/json; charset=utf-8',
                success: function (response) { 
                    L.popup()
                    .setLatLng(L.latLng(e.layer.feature.properties.latitude, e.layer.feature.properties.longitude))
                    .setContent('<p>Hello world!<br />This is a nice popup.</p>')
                    .openOn(detail.map);

                },
            });

        }

        
        var household_data = L.layerGroup([households]);
              
        var Esri_WorldImagery = L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
        }).addTo(detail.map);

        var OSM =  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 18,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    });

        var CartoDB_Voyager = L.tileLayer('https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors &copy; <a href="https://carto.com/attributions">CARTO</a>',
            subdomains: 'abcd',
            maxZoom: 20
        });

                      
        household_data.addTo(detail.map);


        households.on('data:loaded', function() {
            if(households.getBounds().isValid())
                detail.map.fitBounds(households.getBounds());
        });

        var baseMaps = {
            "Esri WorldImagery": Esri_WorldImagery,
            "CartoDB Voyager":CartoDB_Voyager,
            "Open StreetMap":OSM,
        };

        var overlayMaps = {
            "Households": household_data,
            //"Evacuation Center": evacuation_center
        };

        // temporary solution for hiding layers control generate in global setting found in LEAFLET_CONFIG item
        //$('.leaflet-control').hide();

        var layerControl = L.control.layers(baseMaps,overlayMaps).addTo(detail.map);

        $( "#advance_search" ).click(function() {          
            /* Get from elements values */
            var values = $('#advance_search_form').serialize();

            $.ajax({
                type: "get",
                url: "{% url 'household'%}",
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                data: values ,
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                        //Clear old layer
                        household_data.clearLayers();

                       //Load The GeoJSON layer using Leaflet GeoJSON method 
                        var households = new L.GeoJSON(response,{
                            pointToLayer: function(feature, latlng) {
                                var greenIcon = L.icon({
                                    iconUrl: '{% static "image/icons8-green-circle-48.png"%}',

                                    iconSize:     [16, 16],
                                    iconAnchor:   [-3,9], // point of the icon which will correspond to marker's location
                                    popupAnchor: [0,0],
                                    tooltipAnchor: [0,0]
                                });
                                return L.marker(latlng, {icon: greenIcon});
                            },
                            onEachFeature: function(feature,layer){
                                var url_mask = "{% url 'admin:household_households_change' object_id='12345' %}".replace(/12345/, feature.properties.pk.toString());
                                layer.bindPopup('<div class="p-1">'+
                                    '<div class="card card-primary card-outline card-outline-tabs">'+
                                        '<div class="card-header p-0 border-bottom-0">'+
                                            '<ul class="nav nav-tabs" id="custom-tabs-four-tab" role="tablist">'+
                                                '<li class="nav-item">'+
                                                '<a class="nav-link active" id="custom-tabs-four-household-information-tab" data-toggle="pill" href="#custom-tabs-four-household-information" role="tab" aria-controls="custom-tabs-four-household-information" aria-selected="true">Household information</a>'+
                                                '</li>'+
                                                '<li class="nav-item">'+
                                                '<a class="nav-link" id="custom-tabs-four-demography-tab" data-toggle="pill" href="#custom-tabs-four-demography" role="tab" aria-controls="custom-tabs-four-demography" aria-selected="false">Demography</a>'+
                                                '</li>'+
                                                '<li class="nav-item">'+
                                                '<a class="nav-link" id="custom-tabs-four-availed-programs-tab" data-toggle="pill" href="#custom-tabs-four-availed-programs" role="tab" aria-controls="custom-tabs-four-availed-programs" aria-selected="false">Availed programs</a>'+
                                                '</li>'+
                                                '<li class="nav-item">'+
                                                '<a class="nav-link" id="custom-tabs-four-livelihood-tab" data-toggle="pill" href="#custom-tabs-four-livelihood" role="tab" aria-controls="custom-tabs-four-livelihood" aria-selected="false">Livelihood</a>'+
                                                '</li>'+
                                            '</ul>'+
                                        '</div>'+
                                    '</div>'+
                                    '<div class="card-body">'+
                                    '<div class="tab-content" id="custom-tabs-four-tabContent">'+
                                        '<div class="tab-pane fade show active" id="custom-tabs-four-household-information" role="tabpanel" aria-labelledby="custom-tabs-four-household-information-tab">'+
                                            '<!-- Household Information -->'+
                                            '<table class="table table-borderless table-sm">'+
                                            '<tbody>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Household ID</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.pk+'<a href="'+url_mask+'"> : Click here for mor info.</a></span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">RESPONDENT</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.respondent+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Municipality</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.municipality+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Barangay</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.barangay+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Purok</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.purok+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Type of building</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.householdbuildingtypes+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Tenural status</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.householdtenuralstatus+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Roof material</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.householdroofmaterials+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Wall material</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.householdwallmaterials+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Water tenural status</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.householdwatertenuralstatus+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Level of water system</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.waterlevelsystems+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Nearest evacuation center</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.evacuationareas+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Building/House construct</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.year_construct+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Estimated cost</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.estimated_cost+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Number of bedrooms</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.number_bedrooms+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Number of storey</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.number_storey+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Access to electricity</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+`${feature.properties.access_electricity ? 'Yes' : 'No'}`+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Access to internet</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+`${feature.properties.access_internet ? 'Yes' : 'No'}`+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Medical treatment</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+`${feature.properties.medical_treatment == null ? 'Nothing' : `${feature.properties.medical_treatment}`}`+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Access to water supply</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+`${feature.properties.access_water_supply ? 'Yes' : 'No'}`+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Water safe to drink</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+`${feature.properties.potable ? 'Yes' : 'No'}`+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Flood occur in the area</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+`${feature.properties.floods_occur ? 'Yes' : 'No'}`+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Year flooded</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.year_flooded+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Experience evacuation during calamity</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+`${feature.properties.experience_evacuate ? 'Yes' : 'No'}`+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Year evacuated</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.year_evacuate+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Access to health and medical facility</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+`${feature.properties.access_health_medical_facility ? 'Yes' : 'No'}`+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Access to telecommunication</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+`${feature.properties.access_telecommuniciation ? 'Yes' : 'No'}`+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Access to drill and simulation</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+`${feature.properties.access_drill_simulation ? 'Yes' : 'No'}`+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Enumerator</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.enumerator+'</span></td>'+                                            
                                                '</tr>'+
                                                '<tr>'+                                         
                                                    '<td style="width: 25%"><span class="font-weight-bold">Editor</span></td>'+
                                                    '<td style="width: 1%"><span class="font-weight-bold">:</span></td>'+
                                                    '<td><span>'+feature.properties.editor+'</span></td>'+                                            
                                                '</tr>'+
                                            '</tbody>'+
                                            '</table>'+                          
                                        '</div>'+ 
                                        '<div class="tab-pane fade" id="custom-tabs-four-demography" role="tabpanel" aria-labelledby="custom-tabs-four-demography-tab">'+
                                            '<!-- Foldable list of demography component -->  '+    
                                                        
                                        '</div>'+
                                        '<div class="tab-pane fade" id="custom-tabs-four-availed-programs" role="tabpanel" aria-labelledby="custom-tabs-four-availed-programs-tab">'+
                                            '<!-- Foldable list of availed programs -->'+
                                        
                                        '</div>'+
                                        '<div class="tab-pane fade" id="custom-tabs-four-livelihood" role="tabpanel" aria-labelledby="custom-tabs-four-livelihood-tab">'+
                                                                             
                                        '</div>'+
                                    '</div>'+
                                    '</div>'+
                                '</div>',{
                                    maxWidth: 560,
                                    maxHeight: 460,

                                }); 
                            }
                        });
                        //fit Bounds
                        if(households.getBounds().isValid())
                            detail.map.fitBounds(households.getBounds());   
       
                        // update layer group with the new point Layer
                        household_data.addLayer(households);

                },
            });

            
        });     
    
    }, false);
</script>
{% leaflet_map "map" %}
{% endblock %}