{% extends "admin/base_site.html" %}
{% load i18n static %}
{% load admin_menu %}
{% load leaflet_tags %}

{% block extrastyle %}
{{ block.super }}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" /> -->
{% leaflet_js %}
{% leaflet_css %}
<style type="text/css">
    #map {width: 100%;height: 750px;}
</style>
<link rel="stylsheet" type="text/css" href="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.css'%}">
<script type="text/javascript" src="{% static 'dist/leaflet.ajax.js'%}"></script>
<script type="text/javascript" src="{% static 'leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.min.js'%}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2MmppHGfdrSzVXgDSPWVmOUVH-rwkI6M" async defer></script>
<script src="https://unpkg.com/leaflet.gridlayer.googlemutant@latest/dist/Leaflet.GoogleMutant.js"></script>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}
{% if not is_popup %}
{% block breadcrumbs %}
<div class="row mb-2">
    <div class="col-sm-4">
        <!-- <h2>{{title}}</h2>  -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#searchModal">
            Advance Search
          </button>
    </div>
    <div class="col-sm-8">
        <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'admin:index' %}"><i class="fas fa-tachometer-alt"></i> {% trans 'Home' %}</a></li>
            {% for app in app_list %}
            <li class="breadcrumb-item active">{{ app.name }}</li>
            {% endfor %}
        </ol>
    </div>
</div>
{% endblock %}
{% endif %}

{% block content %}

<!-- INCLUDE -->
{% include 'admin/advance_search.html' %}

<script type="text/javascript">
    window.addEventListener("map:init", function (e) {
        var detail = e.detail;
        var households = new L.GeoJSON.AJAX("{% url 'household'%}",{
            pointToLayer: function(feature, latlng) {
                var greenIcon = L.icon({
                    iconUrl: '{% static "image/icons8-green-circle-48.png"%}',

                    iconSize:     [16, 16],
                    iconAnchor:   [0,0], // point of the icon which will correspond to marker's location
                });
                return L.marker(latlng, {icon: greenIcon});
            },
            onEachFeature: function(feature,layer){
                layer.bindPopup('<h5>'+feature.properties.respondent.toString()+'<h5>'+
                    '<font size="2" face="Courier New" >' +
                    '<table border=0>'+
                    '<tbody>' +
                        '<tr>' +
                        '<td>1</td>' +
                        '<td>: Jane Doe</td>' +
                        '</tr>' +
                    '</tbody>' +
                    '</table>' +
                    '<img width="100%" height="100%" src="{% static "image/sample.jpg" %}">')
            }
        });

 
        var household_data = L.layerGroup([households]);

        var OSM =  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 18,
                    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
                    });
        var Google_Satellite = L.gridLayer
                        .googleMutant({
                            type: "satellite", // valid values are 'roadmap', 'satellite', 'terrain' and 'hybrid'
                    });   
                    
        household_data.addTo(detail.map);

        var baseMaps = {
            "OpenStreetMap": OSM,
            "Google Satellite": Google_Satellite
        };

        var overlayMaps = {
            "Households": household_data
        };

        var layerControl = L.control.layers(baseMaps, overlayMaps).addTo(detail.map);

        $( "#advance_search" ).click(function() {

            
            /* Get from elements values */
            var values = $('#advance_search_form').serialize();

            $.ajax({
                type: "get",
                url: "{% url 'household'%}",
                data: values ,
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                        //Clear old layer
                        household_data.clearLayers();

                       //Load The GeoJSON layer using Leaflet GeoJSON method 
                        var households = new L.GeoJSON(response,{
                            pointToLayer: function(feature, latlng) {
                                var greenIcon = L.icon({
                                    iconUrl: '{% static "image/icons8-green-circle-48.png"%}',

                                    iconSize:     [16, 16],
                                    iconAnchor:   [0,0], // point of the icon which will correspond to marker's location
                                });
                                return L.marker(latlng, {icon: greenIcon});
                            },
                            onEachFeature: function(feature,layer){
                                layer.bindPopup('<h5>'+feature.properties.respondent.toString()+'<h5>'+
                                    'bag-ong gi dugang')
                            }
                        });
                        //fit Bounds
                        detail.map.fitBounds(households.getBounds());   
       
                        // update layer group with the new point Layer
                        household_data.addLayer(households);

                },
            });

            
        });
    
    }, false);
</script>
{% leaflet_map "map" %}
{% endblock %}