<canvas id="myChart"></canvas>
<script>

var labels = {{ labels|safe }};
var data = {{ data|safe }};

var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Total Households',
            data: data.map(item => item[0]),
            backgroundColor: 'rgba(10, 29, 86, 0.5)',
            borderColor: 'rgba(10, 29, 86, 1)',
            borderWidth: 1
        }, {
            label: 'Total Male',
            data: data.map(item => item[1]),
            backgroundColor: 'rgba(105, 98, 173, 0.5)',
            borderColor: 'rgba(105, 98, 173, 1)',
            borderWidth: 1
        }, {
            label: 'Total Female',
            data: data.map(item => item[2]),
            backgroundColor: 'rgba(131, 192, 193, 0.5)',
            borderColor: 'rgba(131, 192, 193, 1)',
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>